name: Secret Scan and History Rewrite

on:
  workflow_dispatch:  # Manual trigger

jobs:
  clean-history:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Needed for full history rewrite

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gitleaks
          pip3 install git-filter-repo

      - name: Run Gitleaks scan
        run: |
          gitleaks detect -v || echo "Gitleaks scan completed with findings."

      - name: Rewrite Git history
        run: |
          echo "Replacing secrets using replacements.txt..."
          git filter-repo --replace-text replacements.txt --force

      - name: Set Git identity
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"


      - name: Push cleaned history
        env:
          TOKEN_GITHUB: ${{ secrets.TOKEN_GITHUB }}
        run: |
          git remote set-url origin https://x-access-token:${TOKEN_GITHUB}@github.com/Kiranra08/snyk
          git push --force --all
          git push --force --tags
