name: Build Docker Image

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image with tag 'latest'
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: hello-world-python:latest
        load: true

    - name: Show contents of github.action_path
      run: |
        echo "github.action_path: ${{ github.action_path }}"
        ls -lah ${{ github.action_path }}

    - name: Install depediences
      run: |
        pip install -r ${{ github.action_path }}requirements.txt
    
    - name: Run Snyk to check Docker image for vulnerabilities
      uses: snyk/actions/docker@master
      env:
         SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: hello-world-python:latest
        args: --file=Dockerfile


