name: Build Docker Image

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image with tag 'latest'
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: hello-world-python:latest
        load: true

    - name: Show contents of github.action_path
      run: |
        echo "github.action_path: ${{ github.action_path }}"
        ls -lah ${{ github.action_path }}

    - name: Install depediences
      run: |
        pip install -r ${{ github.action_path }}requirments.txt
    
#    - name: Run Snyk to check Docker image for vulnerabilities
#      uses: snyk/actions/docker@master
#      env:
#         SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
#      with:
#        image: hello-world-python:latest
#        args: --file=Dockerfile

    - name: SAST scan
      id: sastuscan
      if: always()
      shell: bash
      run: |
        export SNYK_TOKEN=${{ secrets.SNYK_TOKEN }}
        chmod +x ./snyk_code.sh
        $./snyk_code.sh
        mkdir -p ${{ inputs.workspace }}/attestation-files
        echo "Listing workspace contents:"
        ls -lah ${{ inputs.workspace }}
        ls -lah ${{ inputs.workspace }}/report
        cp -f ${{ inputs.workspace }}/report/* ${{ inputs.workspace }}/
        cp -f ${{ inputs.workspace }}/report/* ${{ inputs.workspace }}/attestation-files/
        echo "***************** EXIT CODE *****************"
        cat $WORKSPACE/snyk_sast_exit_code.txt
        echo "SNYK_CODE_EXIT_CODE-$(cat $WORKSPACE/snyk_sast_exit_code.txt)" >> $GITHUB_OUTPUT
        env:
         SNYK_ORG: ${{ steps.get_org_id.outputs.SNYK_ORG }}
         SNYK_TOKEN: ${{ inputs.snyk-token }}
         WORKSPACE: ${{ inputs.workspace }}
         GH_BRANCH: ${{ github.head_ref || github.ref_name }}



